<p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="10000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5></h5>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img src="{{getMediaUrl(product)}}" alt="Unavilable" class="product-image"/>
                </div>
                <div>
                    <a class="product-name" routerLink='' (click)="productPage(product.product.web_id)">{{product.product.name}}</a>
                    <br>
                    <h4 class="mt-0">{{product.sale_price|currency:'USD'}}</h4>
                    <!-- <span >{{product.inventoryStatus}}</span> -->
                    <div class="cart-buttons mt-2 flex flex-column align-items-center  w-12">
                        <button pButton icon="pi pi-cart-plus" label="Add to cart" (click)="addToCart(product)"></button>
                        <button class="mt-2" pButton icon="pi pi-money-bill" label="Buy now"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>