<div class="container flex flex-column justify-content-center align-items-center">
    <div *ngIf="!otpSent" class="card flex flex-column align-items-center border-2 border-color border-900 border-round-2xl login-card">
        <h2>Forgot password</h2>
        <p class="t-f text-center mx-3 mb-3">Enter your email address or phone number associated with your account we'll send you OTP to reset your password.</p>
        <div class="form-container m-3">
            <form [formGroup]="emailForm" (ngSubmit)="sendOtp()">
                <span class="p-float-label mb-4 p-inputtext-sm  w-12">
                    <input pInputText id="email" formControlName="email" class="w-12 border-1 border-color border-900" [ngClass]="checkInvalid.checkInvalidTouched(emailForm,'email')"/>
                    <label htmlFor="email">Email</label>
                </span>
                <p-divider align="center" class="divider">
                    <div class="inline-flex align-items-center or">
                        <b>or</b>
                    </div>
                </p-divider>
                <span class="p-float-label mb-4 p-inputtext-sm  w-12 mb-3">
                    <input pInputText id="phonenumber" formControlName="phone" class="w-12 border-1 border-color border-900" />
                    <label htmlFor="phonenumber">Phone number</label>
                </span>
                <button pButton label="Send OTP"  class="btn w-12 mb-2" type="submit"></button>
            </form>
            <p class="t-f text-center">Back to <a href="/user/login" class="underline cursor-pointer">login.</a></p>
        </div>
    </div>
    <div *ngIf="otpSent" class="card flex flex-column align-items-center border-2 border-color border-900 border-round-2xl login-card">
        <h2>OTP verification</h2>
        <p class="t-f text-center mx-3 mb-3">Enter 4 digit OTP sent to your email address or phone number.</p>
        <div class="form-container m-3">
            <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                <div class=" flex justify-content-between mb-5">
                    <!-- <input  type="text" maxlength=1 pattern="[0-9]" pInputText id="digit1" formControlName="digit1" class="w-2 border-1 border-color border-900 text-center"/>
                    <input pInputText id="digit1" formControlName="digit2" class="w-2 border-1 border-color border-900"/>
                    <input pInputText id="digit1" formControlName="digit3" class="w-2 border-1 border-color border-900"/>
                    <input pInputText id="digit1" formControlName="digit4" class="w-2 border-1 border-color border-900"/> -->
                    <input class="w-2 border-1 border-color border-900" #digit1 inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [ngClass]="checkInvalid.checkInvalidTouched(otpForm,'digit1')" formControlName="digit1" autofocus  type="text" maxlength="1" pInputText (keyup)="onDigitInput($event,'',digit1,digit2)" />
                    <input class="w-2 border-1 border-color border-900" #digit2 inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [ngClass]="checkInvalid.checkInvalidTouched(otpForm,'digit2')" formControlName="digit2" type="text" maxlength="1" pInputText (keyup)="onDigitInput($event,digit1,digit2,digit3)" />
                    <input class="w-2 border-1 border-color border-900" #digit3 inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [ngClass]="checkInvalid.checkInvalidTouched(otpForm,'digit3')" formControlName="digit3" type="text" maxlength="1" pInputText (keyup)="onDigitInput($event,digit2,digit3,digit4)" />
                    <input class="w-2 border-1 border-color border-900" #digit4 inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [ngClass]="checkInvalid.checkInvalidTouched(otpForm,'digit4')" formControlName="digit4" type="text" maxlength="1" pInputText (keyup)="onDigitInput($event,digit3,digit4,'')" />
                </div>
                <button pButton label="Verify OTP"  class="btn w-12 mb-2" type="submit"></button>
            </form>
            <p class="t-f text-center">Back to <a href="/user/login" class="underline cursor-pointer">login.</a></p>    
        </div>
        
    </div>
</div>
