<!-- 
<div class="card">
    <p-megaMenu [model]="items"></p-megaMenu>
</div> -->


<div class="card">
    <p-menubar [model]="items" styleClass="flex">
        <p-menuitem routerLink="/about" label="About"></p-menuitem>
        <ng-template pTemplate="start">
            <a href="/" style="text-decoration: none;color: inherit;"><h2 >Ecommerce</h2></a>
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
        </ng-template>
    </p-menubar>
</div>