@media (max-width: 576px) {
    :host ::ng-deep{
    .p-divider-vertical.ver-div {
        display:none;
    }
    }
}
@media (min-width:576px){
    .hor-div{
        display: none;
    }
}
:host ::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input{
    width: 50px;
    text-align: center;
}