<div class="card " class="mt-3 mx-3">
    <div>
        <p-virtualScroller [value]="products" scrollHeight="450px" [itemSize]="100" [lazy]="true" styleClass="p-virtualscroller-content">
            <ng-template pTemplate="header"> 
                <h3>Shopping cart</h3>
                <p-divider></p-divider>
                <div class="flex justify-content-between flex-wrap">
                    <h4>Subtotal {{cart?.total_cost| currency:'USD'}}</h4>
                    <button pButton type="button" label="Proceed to buy ({{cart?.cart_items?.length}}) items" class="p-button-sm check-out-btn"></button>
                </div>
                
             </ng-template>
            <ng-template let-product pTemplate="item">
                <div class="flex align-items-center p-3 w-full flex-wrap">
                    <div>
                        <img src="{{getMediaUrl(product)}}" alt="Unavilable" class="mr-3 w-4rem md:w-7rem shadow-2" />
                    </div>
                    <div class="flex-1">
                        <h5 class="mb-2 text-base">{{product.product_inventory.product.name}}</h5>
                        <i class="pi pi-tag hidden md:inline vertical-align-middle mr-2"></i>
                        <span class="hidden md:inline-flex vertical-align-middle mr-2">{{ product.product_inventory.product.category.name }}</span>
                        <div class="mt-2"><a (click)="deleteProduct(product)" style="text-decoration: underline;cursor: pointer;">Delete</a></div>
                    </div>
                    <div class="flex flex-column align-items-center text-center ">
                        <h4 class="mb-2">{{ product.product_inventory.sale_price | currency: 'USD' }}</h4>
                        <p-inputNumber class="qty" [(ngModel)]="product.quantity" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                            decrementButtonClass="p-button-primary p-button-rounded p-button-sm" incrementButtonClass="p-button-primary p-button-rounded p-button-sm" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1"
                            [max]="getMaxUnits(product)" (onInput)="qtyChange(product)"></p-inputNumber>
                        <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag> -->
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="loadingItem">
                <div class="flex align-items-center p-3 w-full flex-wrap loading-item">
                    <div class="mr-3" style="width:100px; height:66px;"></div>
                    <div class="flex-1">
                        <h5 class="mb-2 text-base"></h5>
                        <i class="hidden md:inline vertical-align-middle mr-2"></i>
                        <span class="hidden md:inline-flex vertical-align-middle mr-2"></span>
                    </div>
                    <div class="flex flex-column align-items-end">
                        <h6 style="width:25px; height:14px;" class="mb-2"></h6>
                        <span class="block h-2rem" style="width:100px"></span>
                    </div>
                </div>
            </ng-template>
        </p-virtualScroller>
    </div> 
</div>