<div class="container flex flex-column justify-content-center align-items-center">
    <div class="card flex flex-column align-items-center border-2 border-color border-900 border-round-2xl login-card">
        <h2>Account verification</h2>
        <p class="t-f text-center mx-3 mb-3">Enter 4 digit OTP sent to your email address or phone number.</p>
        <div class="form-container m-3">
            <div class=" flex justify-content-between mb-5">
                <input pInputText id="digit1" class="w-2 border-1 border-color border-900 text-center" />
                <input pInputText id="digit1" class="w-2 border-1 border-color border-900" />
                <input pInputText id="digit1" class="w-2 border-1 border-color border-900" />
                <input pInputText id="digit1" class="w-2 border-1 border-color border-900" />
            </div>
            <button pButton label="Verify OTP" class="btn w-12 mb-2" (click)="verifyOtp()"></button>
            <p class="t-f text-center">Back to <a href="/user/login" class="underline cursor-pointer">login.</a></p>
        </div>

    </div>
</div>