<div class="container flex flex-column justify-content-center align-items-center">
    <div class="card flex flex-column align-items-center border-2 border-color border-900 border-round-2xl login-card">
        <h2>Reset password</h2>
        <div class="form-container m-3">
            <span class="p-float-label mb-4 p-inputtext-sm  w-12">
                <input pInputText id="password" class="w-12 border-1 border-color border-900"/>
                <label htmlFor="password">Password</label>
            </span>
            <span class="p-float-label mb-4 p-inputtext-sm  w-12 mb-3">
                <input pInputText id="confirm-password" class="w-12 border-1 border-color border-900"/>
                <label htmlFor="confirm-password">Confirm password</label>
            </span>
            <button pButton label="Reset"  class="btn w-12 mb-3"></button>
            <p class="t-f text-center">Back to <a href="/user/login" class="underline cursor-pointer">login.</a></p>
        </div>
    </div>
</div>
