<div class="container flex flex-column justify-content-center align-items-center">
    <div class="card flex flex-column align-items-center border-2 border-color border-900 border-round-2xl login-card">
        <h2>Reset password</h2>
        <div class="form-container m-3">
            <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
                <span class="p-float-label mb-4 p-inputtext-sm p-input-icon-right w-12">
                    <i [class]="passwordView.icon" style="cursor:pointer" (mousedown)="passwordView.viewPassword()" (mouseup)="passwordView.hidePassword()" [ngClass]="checkInvalid.checkInvalidTouched(resetForm,'password')"></i>
                    <input [type]="passwordView.viewPasswordFlag" pInputText id="password" formControlName="password" class="w-12 border-1 border-color border-900" [ngClass]="checkInvalid.checkInvalidTouched(resetForm,'confirm-password')"/>
                    <label htmlFor="password">Password</label>
                </span>
                <span class="p-float-label mb-4 p-inputtext-sm p-input-icon-right w-12 mb-3">
                    <i [class]="ConfirmPasswordView.icon" style="cursor:pointer" (mousedown)="ConfirmPasswordView.viewPassword()" (mouseup)="ConfirmPasswordView.hidePassword()" [ngClass]="checkInvalid.checkInvalidTouched(resetForm,'confirm-password')"></i>
                    <input [type]="ConfirmPasswordView.viewPasswordFlag" pInputText id="confirm-password"formControlName="confirm-password" class="w-12 border-1 border-color border-900" [ngClass]="checkInvalid.checkInvalidTouched(resetForm,'confirm-password')"/>
                    <label htmlFor="confirm-password">Confirm password</label>
                </span>
                <button pButton label="Reset" type="submit" class="btn w-12 mb-3"></button>
                <p class="t-f text-center">Back to <a href="/user/login" class="underline cursor-pointer">login.</a></p>
            </form>
        </div>
    </div>
</div>
