/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$color1: #393646;
$color2: #4F4557;
$color3: #6D5D6E;
$color4: #F4EEE0;
$danger: #e24c4c;


*{
    font-family: 'Roboto Serif', serif;
}
body{
    margin:0px;
}

.btn{
    padding:0.4rem;
    background-color: $color1!important;
    border-color: $color1!important;
}
.btn:hover{
    color: $color1!important;
    border-color: $color1!important;
    background-color: $color4!important;
}
:host ::ng-deep .btn:focus {
    box-shadow: inset 0 0 0 0.15rem $color4 !important;
  }

  .ng-invalid.ng-dirty{
    border-color: $danger !important;
}

i.ng-invalid.ng-dirty{
    color: $danger !important;
}